.content-panel-active .content-box:after {
   opacity: 1;
   visibility: visible;
}

.content-box:after {
   display: block;
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   background: rgba(4, 36, 113, 0.6);
   content: "";
   z-index: 10;
   visibility: hidden;
   opacity: 0;
   transition: all 0.4s ease;
}

.content-i,
.with-side-panel .content-i {
   display: block;
}

.content-panel-active .content-panel {
   transform: translateX(0px);
   visibility: visible;
   box-shadow: none;
}

.content-panel .content-panel-close {
   display: block;
   position: absolute;
   top: 25px;
   right: 20px;
   font-size: 14px;
   color: #00205B;
   z-index: 999;
   cursor: pointer;
}

.content-panel {
   max-width: 50vw;
   position: absolute;
   top: 0px;
   bottom: 0px;
   right: 0px;
   background-color: #fff;
   /* background-image: linear-gradient(-90deg, #EFF2F9 8%, #fff 90%); */
   z-index: 4;
   border: none;
   transform: translateX(100%);
   transition: all 0.6s ease;
   visibility: hidden;
   z-index: 11;
   width: 30vw;
   max-height: 100vh;
   padding: 0 0 1.5rem 1.5rem;
}

.content-panel .element-wrapper {
   height: 100vh;
   overflow-y: auto;
}

.overflow-none {
   overflow-y: hidden;
}