- content_box_file = '../icon_fonts/_list.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- template_vars = ['element_header' => 'Icons used in demo', 'element_desc' => 'These icons are used in a demo.',
                   'icons' => [ 'os-icon os-icon-activity',
																'os-icon os-icon-airplay',
																'os-icon os-icon-alert-circle',
																'os-icon os-icon-alert-octagon',
																'os-icon os-icon-alert-triangle',
																'os-icon os-icon-align-center',
																'os-icon os-icon-align-justify',
																'os-icon os-icon-align-left',
																'os-icon os-icon-align-right',
																'os-icon os-icon-anchor',
																'os-icon os-icon-aperture',
																'os-icon os-icon-arrow-down6',
																'os-icon os-icon-arrow-down-circle',
																'os-icon os-icon-arrow-down-left',
																'os-icon os-icon-arrow-down-right',
																'os-icon os-icon-arrow-left6',
																'os-icon os-icon-arrow-left-circle',
																'os-icon os-icon-arrow-right7',
																'os-icon os-icon-arrow-right-circle',
																'os-icon os-icon-arrow-up6',
																'os-icon os-icon-arrow-up-circle',
																'os-icon os-icon-arrow-up-left',
																'os-icon os-icon-arrow-up-right',
																'os-icon os-icon-at-sign',
																'os-icon os-icon-award',
																'os-icon os-icon-bar-chart',
																'os-icon os-icon-bar-chart-2',
																'os-icon os-icon-battery',
																'os-icon os-icon-battery-charging',
																'os-icon os-icon-bell',
																'os-icon os-icon-bell-off',
																'os-icon os-icon-bluetooth',
																'os-icon os-icon-bold',
																'os-icon os-icon-book',
																'os-icon os-icon-book-open',
																'os-icon os-icon-bookmark',
																'os-icon os-icon-box',
																'os-icon os-icon-briefcase',
																'os-icon os-icon-calendar',
																'os-icon os-icon-camera',
																'os-icon os-icon-camera-off',
																'os-icon os-icon-cast',
																'os-icon os-icon-check',
																'os-icon os-icon-check-circle',
																'os-icon os-icon-check-square',
																'os-icon os-icon-chevron-down',
																'os-icon os-icon-chevron-left',
																'os-icon os-icon-chevron-right',
																'os-icon os-icon-chevron-up',
																'os-icon os-icon-chevrons-down',
																'os-icon os-icon-chevrons-left',
																'os-icon os-icon-chevrons-right',
																'os-icon os-icon-chevrons-up',
																'os-icon os-icon-chrome',
																'os-icon os-icon-circle',
																'os-icon os-icon-clipboard',
																'os-icon os-icon-clock',
																'os-icon os-icon-cloud',
																'os-icon os-icon-cloud-drizzle',
																'os-icon os-icon-cloud-lightning',
																'os-icon os-icon-cloud-off',
																'os-icon os-icon-cloud-rain',
																'os-icon os-icon-cloud-snow',
																'os-icon os-icon-code',
																'os-icon os-icon-codepen',
																'os-icon os-icon-command',
																'os-icon os-icon-compass',
																'os-icon os-icon-copy',
																'os-icon os-icon-corner-down-left',
																'os-icon os-icon-corner-down-right',
																'os-icon os-icon-corner-left-down',
																'os-icon os-icon-corner-left-up',
																'os-icon os-icon-corner-right-down',
																'os-icon os-icon-corner-right-up',
																'os-icon os-icon-corner-up-left',
																'os-icon os-icon-corner-up-right',
																'os-icon os-icon-cpu',
																'os-icon os-icon-credit-card',
																'os-icon os-icon-crop',
																'os-icon os-icon-crosshair',
																'os-icon os-icon-database',
																'os-icon os-icon-delete',
																'os-icon os-icon-disc',
																'os-icon os-icon-dollar-sign',
																'os-icon os-icon-download',
																'os-icon os-icon-download-cloud',
																'os-icon os-icon-droplet',
																'os-icon os-icon-edit',
																'os-icon os-icon-edit-2',
																'os-icon os-icon-edit-32',
																'os-icon os-icon-external-link',
																'os-icon os-icon-eye',
																'os-icon os-icon-eye-off',
																'os-icon os-icon-facebook2',
																'os-icon os-icon-fast-forward',
																'os-icon os-icon-feather',
																'os-icon os-icon-file',
																'os-icon os-icon-file-minus',
																'os-icon os-icon-file-plus',
																'os-icon os-icon-file-text',
																'os-icon os-icon-film',
																'os-icon os-icon-filter',
																'os-icon os-icon-flag',
																'os-icon os-icon-folder',
																'os-icon os-icon-folder-minus',
																'os-icon os-icon-folder-plus',
																'os-icon os-icon-git-branch',
																'os-icon os-icon-git-commit',
																'os-icon os-icon-git-merge',
																'os-icon os-icon-git-pull-request',
																'os-icon os-icon-github',
																'os-icon os-icon-gitlab',
																'os-icon os-icon-globe',
																'os-icon os-icon-grid',
																'os-icon os-icon-hard-drive',
																'os-icon os-icon-hash',
																'os-icon os-icon-headphones',
																'os-icon os-icon-heart',
																'os-icon os-icon-help-circle',
																'os-icon os-icon-home',
																'os-icon os-icon-image',
																'os-icon os-icon-inbox',
																'os-icon os-icon-info',
																'os-icon os-icon-instagram',
																'os-icon os-icon-italic',
																'os-icon os-icon-layers',
																'os-icon os-icon-layout',
																'os-icon os-icon-life-buoy',
																'os-icon os-icon-link',
																'os-icon os-icon-link-2',
																'os-icon os-icon-linkedin',
																'os-icon os-icon-list',
																'os-icon os-icon-loader',
																'os-icon os-icon-lock',
																'os-icon os-icon-log-in',
																'os-icon os-icon-log-out',
																'os-icon os-icon-mail',
																'os-icon os-icon-map',
																'os-icon os-icon-map-pin',
																'os-icon os-icon-maximize',
																'os-icon os-icon-maximize-2',
																'os-icon os-icon-menu',
																'os-icon os-icon-message-circle',
																'os-icon os-icon-message-square',
																'os-icon os-icon-mic',
																'os-icon os-icon-mic-off',
																'os-icon os-icon-minimize',
																'os-icon os-icon-minimize-2',
																'os-icon os-icon-minus2',
																'os-icon os-icon-minus-circle',
																'os-icon os-icon-minus-square',
																'os-icon os-icon-monitor',
																'os-icon os-icon-moon',
																'os-icon os-icon-more-horizontal',
																'os-icon os-icon-more-vertical',
																'os-icon os-icon-move',
																'os-icon os-icon-music',
																'os-icon os-icon-navigation',
																'os-icon os-icon-navigation-2',
																'os-icon os-icon-octagon',
																'os-icon os-icon-package',
																'os-icon os-icon-paperclip',
																'os-icon os-icon-pause',
																'os-icon os-icon-pause-circle',
																'os-icon os-icon-percent',
																'os-icon os-icon-phone',
																'os-icon os-icon-phone-call',
																'os-icon os-icon-phone-forwarded',
																'os-icon os-icon-phone-incoming',
																'os-icon os-icon-phone-missed',
																'os-icon os-icon-phone-off',
																'os-icon os-icon-phone-outgoing',
																'os-icon os-icon-pie-chart',
																'os-icon os-icon-play',
																'os-icon os-icon-play-circle',
																'os-icon os-icon-plus',
																'os-icon os-icon-plus-circle',
																'os-icon os-icon-plus-square',
																'os-icon os-icon-pocket',
																'os-icon os-icon-power',
																'os-icon os-icon-printer',
																'os-icon os-icon-radio',
																'os-icon os-icon-refresh-ccw',
																'os-icon os-icon-refresh-cw',
																'os-icon os-icon-repeat',
																'os-icon os-icon-rewind',
																'os-icon os-icon-rotate-ccw',
																'os-icon os-icon-rotate-cw',
																'os-icon os-icon-rss',
																'os-icon os-icon-save',
																'os-icon os-icon-scissors',
																'os-icon os-icon-search2',
																'os-icon os-icon-send',
																'os-icon os-icon-server',
																'os-icon os-icon-settings',
																'os-icon os-icon-share',
																'os-icon os-icon-share-2',
																'os-icon os-icon-shield',
																'os-icon os-icon-shield-off',
																'os-icon os-icon-shopping-bag',
																'os-icon os-icon-shopping-cart',
																'os-icon os-icon-shuffle',
																'os-icon os-icon-sidebar',
																'os-icon os-icon-skip-back',
																'os-icon os-icon-skip-forward',
																'os-icon os-icon-slack',
																'os-icon os-icon-slash',
																'os-icon os-icon-sliders',
																'os-icon os-icon-smartphone',
																'os-icon os-icon-speaker',
																'os-icon os-icon-square',
																'os-icon os-icon-star',
																'os-icon os-icon-stop-circle',
																'os-icon os-icon-sun',
																'os-icon os-icon-sunrise',
																'os-icon os-icon-sunset',
																'os-icon os-icon-tablet',
																'os-icon os-icon-tag',
																'os-icon os-icon-target',
																'os-icon os-icon-terminal',
																'os-icon os-icon-thermometer',
																'os-icon os-icon-thumbs-down',
																'os-icon os-icon-thumbs-up',
																'os-icon os-icon-toggle-left',
																'os-icon os-icon-toggle-right',
																'os-icon os-icon-trash',
																'os-icon os-icon-trash-2',
																'os-icon os-icon-trending-down',
																'os-icon os-icon-trending-up',
																'os-icon os-icon-triangle',
																'os-icon os-icon-truck',
																'os-icon os-icon-tv',
																'os-icon os-icon-twitter2',
																'os-icon os-icon-type',
																'os-icon os-icon-umbrella',
																'os-icon os-icon-underline',
																'os-icon os-icon-unlock',
																'os-icon os-icon-upload',
																'os-icon os-icon-upload-cloud',
																'os-icon os-icon-user',
																'os-icon os-icon-user-check',
																'os-icon os-icon-user-minus',
																'os-icon os-icon-user-plus',
																'os-icon os-icon-user-x',
																'os-icon os-icon-users',
																'os-icon os-icon-video',
																'os-icon os-icon-video-off',
																'os-icon os-icon-voicemail',
																'os-icon os-icon-volume',
																'os-icon os-icon-volume-1',
																'os-icon os-icon-volume-2',
																'os-icon os-icon-volume-x',
																'os-icon os-icon-watch',
																'os-icon os-icon-wifi',
																'os-icon os-icon-wifi-off',
																'os-icon os-icon-wind',
																'os-icon os-icon-x',
																'os-icon os-icon-x-circle',
																'os-icon os-icon-x-square',
																'os-icon os-icon-zap',
																'os-icon os-icon-zap-off',
																'os-icon os-icon-zoom-in',
																'os-icon os-icon-zoom-out',
																'os-icon os-icon-star-full',
																'os-icon os-icon-arrow-right6',
																'os-icon os-icon-arrow-left7',
																'os-icon os-icon-arrow-2-right',
																'os-icon os-icon-minus',
																'os-icon os-icon-arrow-right',
																'os-icon os-icon-arrow-right2',
																'os-icon os-icon-arrow-right3',
																'os-icon os-icon-arrow-right4',
																'os-icon os-icon-arrow-right5',
																'os-icon os-icon-arrow-left',
																'os-icon os-icon-arrow-left2',
																'os-icon os-icon-arrow-left3',
																'os-icon os-icon-arrow-left4',
																'os-icon os-icon-arrow-up',
																'os-icon os-icon-arrow-down',
																'os-icon os-icon-arrow-left5',
																'os-icon os-icon-arrow-down2',
																'os-icon os-icon-arrow-down3',
																'os-icon os-icon-arrow-down4',
																'os-icon os-icon-arrow-up2',
																'os-icon os-icon-arrow-up3',
																'os-icon os-icon-arrow-down5',
																'os-icon os-icon-arrow-up4',
																'os-icon os-icon-arrow-up5',
																'os-icon os-icon-search',
																'os-icon os-icon-ui-34',
																'os-icon os-icon-ui-21',
																'os-icon os-icon-documents-15',
																'os-icon os-icon-documents-17',
																'os-icon os-icon-documents-11',
																'os-icon os-icon-documents-13',
																'os-icon os-icon-ui-23',
																'os-icon os-icon-home-11',
																'os-icon os-icon-ui-09',
																'os-icon os-icon-old-tv-2',
																'os-icon os-icon-fire',
																'os-icon os-icon-home-10',
																'os-icon os-icon-home-09',
																'os-icon os-icon-home-13',
																'os-icon os-icon-home-34',
																'os-icon os-icon-ui-90',
																'os-icon os-icon-ui-03',
																'os-icon os-icon-ui-83',
																'os-icon os-icon-ui-74',
																'os-icon os-icon-pencil-12',
																'os-icon os-icon-ui-33',
																'os-icon os-icon-ui-49',
																'os-icon os-icon-grid-10',
																'os-icon os-icon-common-03',
																'os-icon os-icon-ui-22',
																'os-icon os-icon-ui-46',
																'os-icon os-icon-basic-1-138-quotes',
																'os-icon os-icon-ui-07',
																'os-icon os-icon-social-09',
																'os-icon os-icon-finance-28',
																'os-icon os-icon-finance-29',
																'os-icon os-icon-checkmark',
																'os-icon os-icon-ui-93',
																'os-icon os-icon-mail-14',
																'os-icon os-icon-phone-15',
																'os-icon os-icon-phone-18',
																'os-icon os-icon-ui-55',
																'os-icon os-icon-mail-19',
																'os-icon os-icon-mail-18',
																'os-icon os-icon-grid-18',
																'os-icon os-icon-ui-02',
																'os-icon os-icon-ui-37',
																'os-icon os-icon-common-07',
																'os-icon os-icon-ui-54',
																'os-icon os-icon-ui-44',
																'os-icon os-icon-ui-15',
																'os-icon os-icon-documents-03',
																'os-icon os-icon-ui-92',
																'os-icon os-icon-phone-21',
																'os-icon os-icon-documents-07',
																'os-icon os-icon-others-29',
																'os-icon os-icon-ui-65',
																'os-icon os-icon-ui-51',
																'os-icon os-icon-mail-07',
																'os-icon os-icon-mail-01',
																'os-icon os-icon-others-43',
																'os-icon os-icon-mail-12',
																'os-icon os-icon-signs-11',
																'os-icon os-icon-coins-4',
																'os-icon os-icon-user-male-circle2',
																'os-icon os-icon-emoticon-smile',
																'os-icon os-icon-robot-2',
																'os-icon os-icon-robot-1',
																'os-icon os-icon-crown',
																'os-icon os-icon-cancel-circle',
																'os-icon os-icon-cancel-square',
																'os-icon os-icon-close',
																'os-icon os-icon-grid-circles',
																'os-icon os-icon-grid-squares-22',
																'os-icon os-icon-grid-squares2',
																'os-icon os-icon-tasks-checked',
																'os-icon os-icon-hierarchy-structure-2',
																'os-icon os-icon-agenda-1',
																'os-icon os-icon-cv-2',
																'os-icon os-icon-grid-squares-2',
																'os-icon os-icon-grid-squares',
																'os-icon os-icon-calendar-time',
																'os-icon os-icon-twitter',
																'os-icon os-icon-facebook',
																'os-icon os-icon-pie-chart-2',
																'os-icon os-icon-pie-chart-1',
																'os-icon os-icon-pie-chart-3',
																'os-icon os-icon-donut-chart-1',
																'os-icon os-icon-bar-chart-up',
																'os-icon os-icon-bar-chart-stats-up',
																'os-icon os-icon-hamburger-menu-2',
																'os-icon os-icon-hamburger-menu-1',
																'os-icon os-icon-email-2-at',
																'os-icon os-icon-email-2-at2',
																'os-icon os-icon-fingerprint',
																'os-icon os-icon-basic-2-259-calendar',
																'os-icon os-icon-arrow-2-up',
																'os-icon os-icon-arrow-2-down',
																'os-icon os-icon-bar-chart-down',
																'os-icon os-icon-graph-down',
																'os-icon os-icon-pencil-1',
																'os-icon os-icon-edit-3',
																'os-icon os-icon-edit-1',
																'os-icon os-icon-database-remove',
																'os-icon os-icon-pencil-2',
																'os-icon os-icon-link-3',
																'os-icon os-icon-email-forward',
																'os-icon os-icon-delivery-box-2',
																'os-icon os-icon-wallet-loaded',
																'os-icon os-icon-newspaper',
																'os-icon os-icon-window-content',
																'os-icon os-icon-donut-chart-2',
																'os-icon os-icon-text-input',
																'os-icon os-icon-user-male-circle' ]]
include ../_partials/_template.slim